.drop-shadow {
    filter: drop-shadow(0 15px 30px rgba(8,18,109,.1));
}

.position-button-service{
    bottom: 10px;
    left: 20px;
}

@media only screen and (max-width:576px){
.hero-slider h1{
    font-size:15vw
}
}


/*.shadow-fix>div>div>div{
    overflow: visible;
}*/